@tailwind base;
@tailwind components;
@tailwind utilities;



.navbar { 
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.card-countries {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.card-countries:hover{ 
    color: #585858;
    font-size: 18px;
}

.filter-region { 
    margin-left: 55%;
}
.loader { 
    margin-bottom: 440px;
    margin-left: 600px;
}

.search { 
    box-shadow: rgba(0, 0, 0 ,5) 0px 25px 10px -25px;
}
.filter { 
    box-shadow: rgba(0, 0, 0 ,5) -20px 20px 10px -25px;
}