@tailwind base;
@tailwind components;
@tailwind utilities;

.card-countries {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.card-countries:hover{ 
    color: #585858;
    font-size: 18px;
}


.loader { 
    margin-bottom: 440px;
    margin-left: 600px;
}

.search { 
    box-shadow: rgba(0, 0, 0 ,5) 0px 25px 10px -25px;
}
.filter { 
    box-shadow: rgba(0, 0, 0 ,5) -20px 20px 10px -25px;
}

.img-countries { 
    box-shadow: 3px 7px 17px -3px rgba(0,0,0,0.73);
}

